fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.20
pydantic[email]==2.10.3
python-dotenv==1.0.1

passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
bcrypt==4.2.1

motor==3.6.0
pymongo==4.9.1

langchain-core==0.3.28
langchain-text-splitters==0.3.2
langchain-qdrant==0.2.0
langchain-google-genai==2.0.7
qdrant-client==1.12.1

google-generativeai==0.8.3
pypdf==5.1.0
requests==2.32.3
